@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #f1f1f1;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.navbar{
    box-shadow: #44444427 5px 5px 5px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.dropdown-menu{
    border: none;
    background-color: transparent;
}

.dropdown-item{
    font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.nav-item {
  display: inline-block;
  
  padding-top: 23px;
  padding-bottom: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

.nav-item::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.nav-item:hover::before {
  width: 100%;
}

.modal-title{
    font-family: 'Work Sans', sans-serif;
	font-weight: 800;
    color: #e63946;
}

@media (max-width: 768px) {
    .dropdown-menu{
        border: none;
        background-color: transparent;
        text-align: center;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 0px;
      }
}
